# 環境變數設定檔範例
# 格式: mysql+pymysql://<帳號>:<密碼>@<AWS連線端點>:<Port>/<資料庫名稱>

SQLALCHEMY_DATABASE_URI=mysql+pymysql://admin:your_super_secret_password@your-aws-db-instance.xxxxxx.ap-northeast-1.rds.amazonaws.com:3306/cloudnative

# JWT 密鑰 (未來實作 Auth 會用到)
# JWT_SECRET_KEY=my_secure_jwt_secret
